<!DOCTYPE html>
<html>
	<%= link_to "Back to notes", notes_path, :class => "link"%><br><br><br>
<body>
	<b>Editing Notes</b>
	<%if @note.errors.any? %>
	<h3><%= @note.errors.full_messages.join(", ")%></h3>
	<%end%><br><br>

 <%= render partial: "form" %>
	
	
</body>
</html>