<!DOCTYPE html>
<html>
<head>
	<%= link_to "Back to notes", notes_path, :class => "link"%><br><br>
	<title>Editing Notes</title>
</head>
<body>
	<%if @note.errors.any? %>
	<h3><%= @note.errors.full_messages.join(", ")%></h3>
	<%end%><br><br>

  <form action="<%= note_path @note %>" method="post">
  <input type="hidden" name="_method" value="put" %>
 <%= render partial: "form" %>
	</form>
	
</body>
</html>