<!DOCTYPE html>
<body>
  <div id="notes">
  <% @notes.each do |note| %>
  <b>Title : </b><%=note.name%><br>
  <b>Details : </b><%=note.info%><br>
  <%end%><br>
  <%= link_to "Homepage", root_path%>
  </div> 
</body>
</html>