<!DOCTYPE html>
<body>
	<%= link_to "Back to notes", notes_path, :class => "link"%><br><br>
	<h1>New Note</h1>

	<%if @note.errors.any? %>
	<h3><%= @note.errors.full_messages.join(", ")%></h3>
	<%end%>

	<%= render partial: "form" %>
</body>
</html>


