
<!DOCTYPE html>

<html lang="en">
<body>
    <header>
    <div id="menu">
        <ul>
        <li><a href="#">About Me</a>
            <ul>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
            </ul>
        </li>
        <li><a href="#">Programing Languages</a>
            <ul>

            <li><%= link_to "Notes", notes_path %></li>
            <li><a href="#">C++</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">Phyton</a></li>
            </ul>
        </li>
        <li><a href="http://localhost:63342/untitled2/entryForm.php?_ijt=tq3tmle5h9j0lbfqvua7kssn0i">Contact</a>
            <ul></ul>
        </li>

        <li><a href="http://localhost:63342/untitled2/login.html?_ijt=rr1av2q241o23mljamrttit2bq">Login</a>
            <ul></ul>
        </li>
        </ul>
    </div>
    </header>


</body>
</html>

