
<!DOCTYPE html>

<html lang="en">
<body>
    <header>
    <div id="menu">
        <ul>
        <li><a href="#">About Me</a>
            <ul>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
                <li><a href="#">Dropdown</a></li>
            </ul>
        </li>
        <li><a href="#">Notes</a>
            <ul>

            <li><%= link_to "Display Notes", notes_path %></li>
            <li><%= link_to "Create a new note", new_note_path %></li>
            <li><%= link_to "Categories", categories_path %></li>
            <li><a href="#"></a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a>
            <ul></ul>
        </li>

        <li><a href="#">Login</a>
            <ul></ul>
        </li>
        </ul>
    </div>
    </header>


</body>
</html>

